<div class="card">
  	<div class="card-body">

		<button class = "primary" style="float:right" (click)="logout()">Logout</button><br><br>

      	<div class="form-group">
        	<input type="text" (input)="onSearchChange($event.target.value)" class="form-control" placeholder="search text goes here">
      	</div>
    	<table class="table table-striped">
        	<thead>
            	<tr>
                	<td>#</td>
                	<td>Username</td>
            	</tr>
          	</thead>
          	<tbody>
            	<tr *ngFor="let user of users; let i = index">
                	<td>{{ i+1 }}</td>
                	<td>{{ user.username }}</td>
              	</tr>
          	</tbody>
      	</table>
  	</div>
</div>