<div class="container">
	<br>
	<button class = "primary" style="float:right" (click)="logout()">Logout</button><br><br>
	<div class="form-group">
		<input type="text" (input)="onSearchChange($event.target.value)" class="form-control" placeholder="search username">
	</div>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<td scope="col">#</td>
				<td scope="col"><b>Username</b></td>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users; let i = index">
				<td>{{ i+1 }}</td>
				<td>{{ user.username }}</td>
			</tr>
			<tr *ngIf="users.length == 0"><td></td>No Records Found</tr>
		</tbody>
	</table>
</div>
